<ion-modal-view ng-controller="FindPassCtrl">
	<ion-header-bar align-title="left" class="bar-dark">
		<button class="button button-icon ion-ios-close-empty" ng-click="GoLoginback()"></button>
		<h1 class="title">找回密码</h1>
		<button class="button button-icon ion-ios-keypad-outline" ng-click="Shared()"></button>
	</ion-header-bar>
	<ion-content scroll=false>
		<form ng-model="findPass">
			<div ng-if="findPass.status==0" class="backimg">
				<img class="loginImg" src="img/login/u2.png" />
				<div class="findImg">
					<img ng-src="img/regist/on.png">
					<img ng-src="img/regist/line.png">
					<img ng-src="img/regist/off.png">
					<img ng-src="img/regist/line.png">
					<img ng-src="img/regist/off.png">
				</div>
				<div class="row row-wrap findshow">
					<div class="col col-30">
						<span class="findstatus" >验证手机号</span>
					</div>
					<div class="col col-30">
						<span class="findstatus" ng-show='false'>设置密码</span>
					</div>
					<div class="col col-30">
						<span class="findstatus" ng-show='false'>确认密码</span>
					</div>
				</div>
				<div class="findlist">
					<label class="item item-input fitext">
						<span ><span  ng-class="{'divred':!findPass.TelephoneNum}">*</span>手机号：</span>
						<input  type="text" ng-model="findPass.TelephoneNum" placeholder="请输入您的手机号" required>
					</label>
					<label class="item item-input fitext">
						<span ><span  ng-class="{'divred':!findPass.ConfirmNum}">*</span>验证码：</span>
						<input  class="findcont" type="text" ng-model="findPass.ConfirmNum" placeholder="请输入您的验证码" required>
						<button class="button-block findbtn">获取验证码</button>
					</label>
					<div>
						<button class="button button-full button-small button-positive" ng-click="ChangePage()" ng-disabled="!findPass.TelephoneNum || !findPass.ConfirmNum">
							下一步
						</button>
					</div>
				</div>

			</div>
			<div ng-if="findPass.status==1" class="backimg">
				<img class="loginImg" src="img/login/u2.png" />
				<div class="findImg">
					<img ng-src="img/regist/off.png">
					<img ng-src="img/regist/line.png">
					<img ng-src="img/regist/on.png">
					<img ng-src="img/regist/line.png">
					<img ng-src="img/regist/off.png">
				</div>
				<div class="row row-wrap findshow">
					<div class="col col-30">
						<span class="findstatus" ng-show='false'>验证手机号</span>
					</div>
					<div class="col col-30">
						<span class="findstatus">设置密码</span>
					</div>
					<div class="col col-30">
						<span class="findstatus" ng-show='false'>确认密码</span>
					</div>
				</div>
				<div class="findlist">
					<label class="item item-input fitext">
						<span ><span  ng-class="{'divred':!findPass.NewPassword}">*</span>新密码：</span>
						<input  type="text" ng-model="findPass.NewPassword" placeholder="请输入新密码" required>
					</label>
					<div>
						<button class="button button-full button-small button-positive" ng-click="ChangePage()" ng-disabled="!findPass.NewPassword">
							下一步
						</button>
					</div>
				</div>

			</div>
			<div ng-if="findPass.status==2" class="backimg">
				<img class="loginImg" src="img/login/u2.png" />
				<div class="findImg">
					<img ng-src="img/regist/off.png">
					<img ng-src="img/regist/line.png">
					<img ng-src="img/regist/off.png">
					<img ng-src="img/regist/line.png">
					<img ng-src="img/regist/on.png">
				</div>
				<div class="row row-wrap findshow">
					<div class="col col-30">
						<span class="findstatus" ng-show='false'>验证手机号</span>
					</div>
					<div class="col col-30">
						<span class="findstatus" ng-show='false'>设置密码</span>
					</div>
					<div class="col col-30">
						<span class="findstatus" >确认密码</span>
					</div>
				</div>
				<div class="findlist">
					<label class="item item-input fitext">
						<span ><span  ng-class="{'divred':!findPass.Password}">*</span>确认密码：</span>
						<input  type="text" ng-model="findPass.Password" placeholder="请输入新密码" required>
					</label>
					<div>
						<button class="button button-full button-small button-positive" ng-click="ChangePage()" ng-disabled="!findPass.Password || (findPass.Password!=findPass.NewPassword)">
							确认修改
						</button>
					</div>
				</div>

			</div>
		</form>
	</ion-content>
</ion-modal-view>