<ion-view view-title="微快递" · <ion-nav-bar class="bar-dark" align-title="left">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-ios-close-empty" ng-click="Exit()">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-keypad-outline" ng-click="Shared()">
		</button>
	</ion-nav-buttons>
	<ion-content id='lo' scroll=false>
		<div class="row row-wrap divcolor fdiv">
			<div class="col col-50 btnsel">
				<button class="button button-clear button-small">查快递</span>
			</div>
			<div class="col col-50 btnuser">
				<button class="button button-clear button-small ">个人中心</span>
			</div>
		</div>
		<div class="row row-wrap divcolor tdiv">
			<div class="col col-50 imgdiv">
				<img ng-src="img/homePage/code.png" >
			</div>
			<div class="col col-50 ttdiv">
				<div class="ttfdiv">
					<button class="button button-clear button-full ttfbtn">我的包裹</span>
				</div>
				<div class="tttdiv">
					<button class="button button-clear button-full ttfbtn">我的订单</span>
				</div>
			</div>
		</div>
		<div class="divcolor thdiv">
			<div class="thfdiv">
				<button class="button button-clear button-full thfbtn">代取</span>
			</div>
		</div>
		<div class="row row-wrap divcolor thdiv">
			<div class="col col-50 ffdiv">
				<button class="button button-clear button-full thfbtn">自己取</span>
			</div>
			<div class="col col-50 ftdiv">
				<button class="button button-clear button-full thfbtn">自己寄</span>
			</div>
		</div>
		<div class="divcolor thdiv">
			<div class="thfdiv">
				<button class="button button-clear button-full thfbtn">扫码</span>
			</div>
		</div>
	</ion-content>
</ion-view>