<ion-view view-title="微快递">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-ios-close-empty" ng-click="Exit()">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-keypad-outline" ng-click="Shared()">
		</button>
	</ion-nav-buttons>
	<ion-content scroll=false ng-model="userInfo">
		<div class="bar bar-header moretitle">
			<a href="#" class="button button-icon icon ion-ios-arrow-back" ng-click="GoHomePage()"></a>
			<h1 class="title titletext">我的订单</h1>
		</div>
	</ion-content>
</ion-view>