<ion-view view-title="微快递">
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-ios-close-empty" ng-click="Exit()">
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-keypad-outline" ng-click="Shared()">
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="bar bar-header sertitle">
			<a href="#" class="button button-icon icon ion-ios-arrow-back" ng-click="GoHomePage()"></a>
			<h1 class="title titletext">我的包裹</h1>
		</div>
		<div class="tabs tabs-top tabs-stable">
			<a class="tab-item">未处理</a>
			<a class="tab-item active">已取</a>
			<a class="tab-item">自寄</a>
		</div>
	</ion-content>
</ion-view>