body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:20px;
  width:310px;
  height:230px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:320px;
  height:240px;
}
#u3 {
  position:absolute;
  left:2px;
  top:107px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:120px;
  width:280px;
  height:100px;
  color:#999999;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:95px;
  top:300px;
  width:240px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:250px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:25px;
  top:300px;
  width:60px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:30px;
  width:200px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:42px;
  top:56px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:225px;
  width:60px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:40px;
  top:73px;
  width:280px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:610px;
  width:360px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:261px;
  top:610px;
  width:99px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:169px;
  top:610px;
  width:99px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:25px;
  top:614px;
  width:29px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:71px;
  top:610px;
  width:99px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:268px;
  top:521px;
  width:97px;
  height:95px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:30px;
  width:92px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:71px;
  top:520px;
  width:104px;
  height:95px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:30px;
  width:99px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:60px;
  width:99px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:170px;
  top:521px;
  width:104px;
  height:95px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:30px;
  width:99px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:60px;
  width:99px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
