.infdiv{
	position: absolute;
	top:7%;
	width: 100%;
}
.inffdiv{
	margin-top: 7%;
	text-align: center;
}
.inffspan{
	font-size: 20px;
    color: #2D99B3;
}
.inftdiv{
	width: 100%
}
.inftfdiv{
	width: 90%;
    margin: 5% 5% 0 5%;
}
.inftfspan{
	color: #2D99B3;
	font-size: 15px;
}
.inftffdiv{
	border: solid;
    border-width: 1px 0 0 0;
    border-color: #33A1AF;
    display: inline-flex;
    width: 100%;
}
.inftfffspan{

}
.inftfftspan{
	margin-left: 5%;
    font-weight: bold;
}
.inftffthspan{
	
}
.inftfffdiv{
	width:80%;
	margin-left: 2%;
	line-height: 30px;
}
.inftfftdiv{
	width:20%;
	text-align: right;
}
.inftftdiv{
	border: solid;
    border-width: 1px 0 0 0;
    border-color: #33A1AF;
}
.inftfthdiv{
	    border: solid;
    border-width: 1px 0 0 0;
    border-color: #33A1AF;
}
.inftttfdiv{
	background-image: url('img/instead/jian.png');
}

