.infdiv{
	position: absolute;
	top:7%;
	width: 100%;
}
.inffdiv{
	margin-top: 7%;
	text-align: center;
}
.inffspan{
	font-size: 20px;
    color: #2D99B3;
}
.inftdiv{
	width: 100%
}
.inftfdiv{
	width: 90%;
    margin: 5% 5% 0 5%;
}
.inftfspan{
	color: #2D99B3;
	font-size: 15px;
}
.inftffdiv{
	border: solid;
    border-width: 1px 0 0 0;
    border-color: #33A1AF;
}
.inftfffspan{

}
.inftfftspan{
	
}
.inftffthspan{
	
}
.inftfffdiv{
	
}
.inftfftdiv{
	
}
.inftftdiv{
	border: solid;
    border-width: 1px 0 0 0;
    border-color: #33A1AF;
}
.inftfthdiv{
	    border: solid;
    border-width: 1px 0 0 0;
    border-color: #33A1AF;
}

