.registdiv{
	position: absolute;
	top:5%;
	width: 100%;
}
.retext{
	font-size: 40px;
	color: #007AFF;
	text-align: center;
}
.retitle{
	line-height: 50px;
}
.reimg{
	padding-top:10px;
}
.reshow{
	margin:0 auto;
	width:300px;
	height:30px;
}
.restatus{
	display: inline-block;
	color: #007AFF;
	font-size: 10px;
	min-width:87px;
	text-align: center;
}
.retype{
	text-align: center;
	padding-top:10px;
	font-size: 13px;
}
.relsen{
	padding-left: 30px;
}
.rectel{
	padding-top:10px;
	margin:0 auto;
	width:300px;
	height:60px;
}
.rectImg{
	position: absolute;
	z-index: 0;
}
.rectcon{
	position: absolute;
	z-index: 1;
	padding-top: 8px;
	padding-left: 10px;
}
.reccon{
	width:300px;
}
.reccont{
	position: absolute;
	z-index: 2;
	padding-top: 8px;
	padding-left: 10px;
}
.receive{
	position: absolute;
	z-index: 1;
	width:320px;
}
.reccImg{
	position: absolute;
	z-index: 0;
	padding-left: 180px;
}
.receivet{
	position: absolute;
	z-index: 1;
	padding-left: 192px;
	padding-top: 13px;
	font-size: 20px;
}
.rexieyi{
	text-align: center;
	padding-top:10px;
	font-size: 20px;
	color: #007AFF;
}
.reprogram{
	width:300px;
	padding-top: 10px;
	text-align: right;
	margin: 0 auto;
}

