.sertitle{
	background-color: #33CD5F;
}
.titletext{
	color: white;
}
.serfdiv{
	position: absolute;
	width:100%;
	top:13%;
	z-index: 0;
	left:8%;
}
.serffdiv{
	position: absolute;
	z-index: 1;
	top:13%;
	width:100%;
	left:4%;
}
.serfffdiv{
	position: absolute;
	top:5%;
	left:15%;
	max-height: 100%;
	width:216px;
}

.sertdiv{
	position: absolute;
	top:20%;
	width:80%;
	left: 10%;
}
